Repository Augugrumi/astaire, pull requests merged in 2018-09, with the labels that each got.

#1 Udp send
  .gitignore
  src/connection/connectionmanager.h
  src/connection/tcpconnectionmanager.cpp
  src/connection/tcpconnectionmanager.h
  src/connection/udpconnectionmanager.cpp
  src/connection/udpconnectionmanager.h
Labels: enhancement

#5 Stable 'send' method
  src/CMakeLists.txt
  src/connection/boostudpconnectionmanager.cpp
  src/connection/rawsocketudpconnectionmanager.cpp
  src/connection/rawsocketudpconnectionmanager.h
  src/main.cpp
Labels: area:cmake, area:cpp, type:enhancement

#8 Udp
  .gitignore
  CMakeLists.txt
  src/CMakeLists.txt
  src/config.h.in
  src/connection/boostudpconnectionmanager.cpp
  src/connection/boostudpconnectionmanager.h
  src/connection/connectionmanager.cpp
  src/connection/connectionmanager.h
  src/connection/handler/abshandler.cpp
  src/connection/handler/abshandler.h
  src/connection/handler/asynctaskexecutor.cpp
  src/connection/handler/asynctaskexecutor.h
  src/connection/handler/binding_handler.h
  src/connection/handler/handlercreator.cpp
  src/connection/handler/handlercreator.h
  src/connection/handler/helloworldhandler.h
  src/connection/handler/javahandler.cpp
  src/connection/handler/javahandler.h
  src/connection/handler/printerhandler.cpp
  src/connection/handler/printerhandler.h
  src/connection/rawsocketudpconnectionmanager.cpp
  src/connection/rawsocketudpconnectionmanager.h
  src/connection/tcpconnectionmanager.cpp
  src/connection/tcpconnectionmanager.h
  src/connection/udpconnectionmanager.cpp
  src/connection/udpconnectionmanager.h
  src/main.cpp
  src/utils/jsonutils.cpp
  src/utils/jsonutils.h
  src/utils/log.cpp
  src/utils/threadpool.h
Labels: area:cpp, area:java, type:enhancement

#10 Refactoring handler hierarchy
  src/CMakeLists.txt
  src/connection/boostudpconnectionmanager.cpp
  src/connection/boostudpconnectionmanager.h
  src/connection/handler/abshandler.cpp
  src/connection/handler/abshandler.h
  src/connection/handler/binding_handler.cpp
  src/connection/handler/binding_handler.h
  src/connection/handler/handlercreator.h
  src/connection/handler/helloworldhandler.cpp
  src/connection/handler/helloworldhandler.h
  src/connection/handler/javahandler.cpp
  src/connection/handler/javahandler.h
  src/connection/handler/printerhandler.cpp
  src/connection/handler/printerhandler.h
  src/connection/rawsocketudpconnectionmanager.cpp
  src/main.cpp
Labels: area:cmake, area:cpp, type:enhancement

#11 Add conditional compilation and add tcp/udp flag
  src/connection/rawsocketudpconnectionmanager.cpp
  src/connection/rawsocketudpconnectionmanager.h
  src/main.cpp
Labels: area:cmake, area:cpp, type:enhancement

#13 Add dockerfile image
  Dockerfile
  Dockerfile.alpine
  src/connection/rawsocketudpconnectionmanager.cpp
Labels: area:cpp, type:enhancement

#14 Kube bootstrap
  Dockerfile
  Dockerfile.alpine
  docker/bootstrap.sh
Labels: area:docker, type:enhancement
